# train 부분

In [1]:
import pandas as pd # 데이터 전처리
import numpy as np # 데이터 전처리
import matplotlib.pyplot as plt # 데이터 시각화

from datetime import datetime, timedelta # 시간 데이터 처리
from statsmodels.tsa.arima_model import ARIMA # ARIMA 모델
%matplotlib inline

In [6]:
train = pd.read_csv("D:/workspace/DACON_2019/SUHYUN/train_revise_remove_Jun.csv")
train['Time'] = pd.to_datetime(train['Time']) 
train = train.set_index('Time')

In [7]:
train.head()

,X692,X1272,X553,X1299,X598,X1003,X1010,X1216,X1047,X381,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
Time,,,,,,,,,,,,,,,,,,,,,
2016-07-26 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-26 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# train_rolling 값 만들기
r24 = train.rolling(window=24, min_periods= 1) # 1일
r48 = train.rolling(window=48, min_periods= 1) # 2일
r72 = train.rolling(window=72, min_periods= 1) # 3일

In [9]:
# train_최빈값
r24_med=r24.median()
r48_med=r48.median()
r72_med=r72.median()
# ___________________________
r24_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_med.csv')
r48_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_med.csv')
r72_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_med.csv')
# ___________________________
r24_med_Feb=r24_med['2018-02-15':]
r48_med_Feb=r48_med['2018-02-15':]
r72_med_Feb=r72_med['2018-02-15':]
# ___________________________
r24_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_med_Feb.csv')
r48_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_med_Feb.csv')
r72_med_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_med_Feb.csv')

In [33]:
# train_평균
r24_mean=r24.mean()
r48_mean=r48.mean()
r72_mean=r72.mean()
# ___________________________
r24_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_mean.csv')
r48_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_mean.csv')
r72_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_mean.csv')
# ___________________________
r24_mean_Feb=r24_mean['2018-02-15':]
r48_mean_Feb=r48_mean['2018-02-15':]
r72_mean_Feb=r72_mean['2018-02-15':]
# ___________________________
r24_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r24_mean_Feb.csv')
r48_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r48_mean_Feb.csv')
r72_mean_Feb.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/r72_mean_Feb.csv')

# test 부분

In [10]:
import pandas as pd # 데이터 전처리
import numpy as np # 데이터 전처리
import matplotlib.pyplot as plt # 데이터 시각화

from datetime import datetime, timedelta # 시간 데이터 처리
from statsmodels.tsa.arima_model import ARIMA # ARIMA 모델
%matplotlib inline

In [11]:
test = pd.read_csv("D:/workspace/DACON_2019/DACON_DATASET/test.csv")
test['Time'] = pd.to_datetime(test['Time']) 
test = test.set_index('Time')

In [12]:
test.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
2017-07-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2017-07-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
2017-07-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
2017-07-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [13]:
# test_rolling 값 만들기
t_r24 = test.rolling(window=24, min_periods= 1) # 1일
t_r48 = test.rolling(window=48, min_periods= 1) # 2일
t_r72 = test.rolling(window=72, min_periods= 1) # 3일

In [14]:
# test_최빈값
r24_med=t_r24.median()
r48_med=t_r48.median()
r72_med=t_r72.median()
# ___________________________
r24_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test/r24/med.csv')
r48_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test/r48/med.csv')
r72_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test/r72/med.csv')

In [15]:
# test_평균
r24_mean=t_r24.mean()
r48_mean=t_r48.mean()
r72_mean=t_r72.mean()
# ___________________________
r24_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test/r24/mean.csv')
r48_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test/r48/mean.csv')
r72_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test/r72/mean.csv')

# NA 제거된 test

In [16]:
import pandas as pd # 데이터 전처리
import numpy as np # 데이터 전처리
import matplotlib.pyplot as plt # 데이터 시각화

from datetime import datetime, timedelta # 시간 데이터 처리
from statsmodels.tsa.arima_model import ARIMA # ARIMA 모델
%matplotlib inline

In [17]:
test = pd.read_csv("D:/workspace/DACON_2019/SUHYUN/dacon_naremoval_method_TEST.csv")
test['Time'] = pd.to_datetime(test['Time']) 
test = test.set_index('Time')

In [18]:
test.head()

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
Time,,,,,,,,,,,,,,,,,,,,,
2017-07-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
2017-07-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2017-07-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
2017-07-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
2017-07-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [19]:
# test_rolling 값 만들기
t_r24 = test.rolling(window=24, min_periods= 1) # 1일
t_r48 = test.rolling(window=48, min_periods= 1) # 2일
t_r72 = test.rolling(window=72, min_periods= 1) # 3일

In [21]:
# test_최빈값
r24_med=t_r24.median()
r48_med=t_r48.median()
r72_med=t_r72.median()
# ___________________________
r24_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test_NA/r24/med.csv')
r48_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test_NA/r48/med.csv')
r72_med.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test_NA/r72/med.csv')

In [22]:
# test_평균
r24_mean=t_r24.mean()
r48_mean=t_r48.mean()
r72_mean=t_r72.mean()
# ___________________________
r24_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test_NA/r24/mean.csv')
r48_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test_NA/r48/mean.csv')
r72_mean.to_csv('D:/workspace/DACON_2019/SUHYUN/rolling/test_NA/r72/mean.csv')